@using Microsoft.AspNetCore.Components.Web
@namespace ProjectDataCore.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <base href="~/" />
        <link href="~/css/app.min.css" rel="stylesheet" />
        <link href="~/css/theme/theme.css" rel="stylesheet" />
        <link href="~/css/custom/custom.min.css" rel="stylesheet" />

        <link href="~/css/scoped/project.min.css" rel="stylesheet" />
        <link href="~/css/scoped/bundle.min.css" rel="stylesheet" />

        <link href="_content/ProjectDataCore.Components/css/scoped/project.min.csss" rel="stylesheet" />
        <link href="_content/ProjectDataCore.Components/css/scoped/bundle.min.css" rel="stylesheet" />

        <link rel="stylesheet" href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0" />
        <link rel="stylesheet" href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
        <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
    </head>
    <body class="theme h-screen relative">
        @RenderBody()

        <div id="blazor-error-ui">
            <environment include="Staging,Production">
                An error has occurred. This application may no longer respond until reloaded.
            </environment>
            <environment include="Development">
                An unhandled exception has occurred. See browser dev tools for details.
            </environment>
            <a href="" class="relative right-0 inset-y-0">Reload</a>
            <a class="underline text-blue-400">🗙</a>
        </div>

        <script src="_framework/blazor.server.js"></script>
        <script src="~/ckeditor/build/ckeditor.js"></script>
        <script src="~/dist/ckEditorInterop.bundle.js"></script>
        <script src="~/dist/splitInterop.bundle.js"></script>
        <script src="~/dist/dropInterop.bundle.js"></script>
        <script src="~/dist/site.bundle.js"></script>
    </body>
</html>
