@using Microsoft.AspNetCore.Components.Web
@namespace ProjectDataCore.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <base href="~/" />
        <link href="~/css/app.min.css" rel="stylesheet" />
        <link href="~/css/theme/theme.css" rel="stylesheet" />

        <link href="~/css/scoped/project.min.css" rel="stylesheet" />
        <link href="~/css/scoped/bundle.min.css" rel="stylesheet" />

        <link href="_content/ProjectDataCore.Components/css/scoped/project.min.csss" rel="stylesheet" />
        <link href="_content/ProjectDataCore.Components/css/scoped/bundle.min.css" rel="stylesheet" />

        <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Round" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet" />
        <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
    </head>
    <body class="theme">
        @RenderBody()

        <div id="blazor-error-ui">
            <environment include="Staging,Production">
                An error has occurred. This application may no longer respond until reloaded.
            </environment>
            <environment include="Development">
                An unhandled exception has occurred. See browser dev tools for details.
            </environment>
            <a href="" class="relative right-0 inset-y-0">Reload</a>
            <a class="underline text-blue-400">🗙</a>
        </div>

        <script src="_framework/blazor.server.js"></script>
        <script src="~/ckeditor/build/ckeditor.js"></script>
        <script src="~/ckeditor/editorInterop.js"></script>
    </body>
</html>
