<AuthorizeView Policy="@EditPolicy">
	<Authorized>
		<div class="@BoundingCssClass"></div>
		<div class="position-absolute above-coat top-0 end-0 p-2">
			<button class="btn" @onmouseover="CoatArea" @onmouseout="UncoatArea" @onclick="DisplayModal"><span class="bi oi bi-gear"></span></button>
		</div>
	</Authorized>
</AuthorizeView>