@using Microsoft.Extensions.Configuration
@inject IConfiguration _config
@implements IRefreshBase
@inject IAdvancedRefreshService _advRefresh
@inject IAuthorizationService _auth

<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark align-items-stretch position-relative nav-menu-box"> 
    <div class="top-row pl-4 navbar navbar-dark">
        <div class="container">
            <a class="navbar-brand mx-auto" href="">501st Data Core</a>
            <button class="navbar-toggler" type="button" data-bs-target=".collapse-main" data-bs-toggle="collapse">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>

    <div class="collapse collapse-main mb-auto">
        <div class="pt-3">
            <AuthorizeView>
                <Authorized>
                    <button role="button" id="loginButtons" data-bs-toggle="collapse" data-bs-target="#login-menu" class="w-100 justify-content-center btn btn-outline-light d-flex align-items-center text-decoration-none dropdown-toggle">
                        <strong>@CurrentUser?.BirthNumber @CurrentUser?.NickName 
                            @if (@CurrentUser is not null) {
                                @CurrentUser.BirthdayCake()
                            }
                        </strong>
                    </button>
                    <div id="login-menu" class="collapse">
                        <div class="text-small dropdown-menu-dark shadow p-2">
                            <a href="trooper/me" @onclick="() => ChangeTrooper()" class="dropdown-item">Profile</a>
                            <form method="post" action="Identity/Account/LogOut">
                                <button type="submit" class="dropdown-item">Log out</button>
                            </form>
                            <hr />
                            <a href="Identity/Account/Manage" class="dropdown-item">Settings</a>
                        </div>
                    </div>
                </Authorized>
                <NotAuthorized>
                    <button role="button" id="loginButtonsGuest" data-bs-toggle="collapse" data-bs-target="#login-menu-guest" class="w-100 justify-content-center btn btn-outline-light d-flex align-items-center text-decoration-none dropdown-toggle">
                        <strong>Guest</strong>
                    </button>
                    <div id="login-menu-guest" class="collapse">
                        <div class="text-small dropdown-menu-dark shadow p-2">
                            <a href="Identity/Account/Login" class="dropdown-item">Log in</a>    
                            <a href="Identity/Account/Register" class="dropdown-item">Register</a>
                        </div>
                    </div>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <div class="mb-auto flex-column">
            <ul class="nav flex-column nav-pills">
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/roster" Match="NavLinkMatch.All">
                        <span class="oi oi-clipboard" aria-hidden="true"></span> Roster
                    </NavLink>
                </li>

                <div class="pt-3">
                    <button id="mini-roster-data" data-bs-toggle="collapse" data-bs-target="#mini-roster-data-menu" class="w-100 justify-content-center btn btn-outline-light d-flex align-items-center text-decoration-none dropdown-toggle">
                        Slotted
                    </button>
                    <div class="collapse" id="mini-roster-data-menu">
                        <div class="text-small dropdown-menu-dark shadow p-2">
                            @if(InSquad)
                            {
                                <li class="nav-item px-3">
                                    <NavLink class="nav-link" href="/squad/me" Match="NavLinkMatch.All">
                                        <span class="oi oi-compass" aria-hidden="true"></span> My Squad
                                    </NavLink>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item px-3">
                                    <NavLink class="nav-link" href="/roster/directory/squad" Match="NavLinkMatch.All">
                                        <span class="oi bi bi-card-list" aria-hidden="true"></span> Squad Directory
                                    </NavLink>
                                </li>
                            }

                            @if(InPlatoon)
                            {
                                <li class="nav-item px-3">
                                    <NavLink class="nav-link" href="/platoon/me" Match="NavLinkMatch.All">
                                        <span class="oi oi-compass" aria-hidden="true"></span> My Platoon
                                    </NavLink>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item px-3">
                                    <NavLink class="nav-link" href="/roster/directory/platoon" Match="NavLinkMatch.All">
                                        <span class="oi bi bi-card-list" aria-hidden="true"></span> Platoon Directory
                                    </NavLink>
                                </li>
                            }

                            @if (InCompany)
                            {
                                <li class="nav-item px-3">
                                    <NavLink class="nav-link" href="/company/me" Match="NavLinkMatch.All">
                                        <span class="oi oi-compass" aria-hidden="true"></span> My Company
                                    </NavLink>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item px-3">
                                    <NavLink class="nav-link" href="/roster/directory/company" Match="NavLinkMatch.All">
                                        <span class="oi bi bi-card-list" aria-hidden="true"></span> Company Directory
                                    </NavLink>
                                </li>
                            }

                            <li class="nav-item px-3">
                                <NavLink class="nav-link" href="/hailstorm" Match="NavLinkMatch.All">
                                    <span class="oi oi-compass" aria-hidden="true"></span> Hailstorm
                                </NavLink>
                            </li>

                            <li class="nav-item px-3">
                                <NavLink class="nav-link" href="/razor" Match="NavLinkMatch.All">
                                    <span class="oi oi-infinity" aria-hidden="true"></span> Razor
                                </NavLink>
                            </li>

                            <li class="nav-item px-3">
                                <NavLink class="nav-link" href="/mynock/me" Match="NavLinkMatch.All">
                                    <span class="oi oi-compass" aria-hidden="true"></span> Mynock
                                </NavLink>
                            </li>

                            <hr />

                            <li class="nav-item px-3">
                                <NavLink class="nav-link" href="/roster/directory" Match="NavLinkMatch.All">
                                    <span class="oi bi bi-collection" aria-hidden="true"></span> Directories
                                </NavLink>
                            </li>
                        </div>
                    </div>
                </div>
                <DynamicAuthorizeView SectionName="Recruit Nav Dropdown" IsPage="false">
                    <Authorized>
                        <div class="pt-3">
                            <button id="misc-roster-data" data-bs-toggle="collapse" data-bs-target="#misc-roster-data-menu" class="w-100 justify-content-center btn btn-outline-light d-flex align-items-center text-decoration-none dropdown-toggle">
                                Recruits
                            </button>
                            <div class="collapse" id="misc-roster-data-menu">
                                <div class="text-small dropdown-menu-dark shadow p-2">
                                    <li class="nav-item px-3">
                                        <NavLink class="nav-link" href="/recruits/crclisting" Match="NavLinkMatch.All">
                                            <span class="oi bi-journals" style="font-size: 1.25rem;" aria-hidden="true"></span> New CR(-C) Listing
                                        </NavLink>
                                    </li>
                                </div>
                            </div>
                        </div>
                    </Authorized>
                </DynamicAuthorizeView>
                <DynamicAuthorizeView SectionName="C Shop Nav Dropdown" Context="trooperAuthContext" IsPage="false">
                    <Authorized>
                        <div class="pt-3">
                            <button id="cshops" data-bs-toggle="collapse" data-bs-target="#cshops-menu" class="w-100 justify-content-center btn btn-outline-light d-flex align-items-center text-decoration-none dropdown-toggle">
                                C-Shops
                            </button>
                            <div class="collapse" id="cshops-menu">
                                <div class="text-small dropdown-menu-dark shadow p-2">
                                    <DynamicAuthorizeView SectionName="C Shop Nav Dropdown C1" IsPage="false">
                                        <Authorized>
                                            <li class="nav-item px-3">
                                                <NavLink class="nav-link" href="/c1" Match="NavLinkMatch.All">
                                                    <span class="oi oi-person" aria-hidden="true"></span> C-1 PERSONNEL
                                                </NavLink>
                                            </li>
                                        </Authorized>
                                    </DynamicAuthorizeView>
                                    <DynamicAuthorizeView SectionName="C Shop Nav Dropdown C3" IsPage="false">
                                        <Authorized>
                                            <li class="nav-item px-3">
                                                <NavLink class="nav-link" href="/c3" Match="NavLinkMatch.All">
                                                    <span class="oi oi-target" aria-hidden="true"></span> C-3 OPERATIONS
                                                </NavLink>
                                            </li>
                                        </Authorized>
                                    </DynamicAuthorizeView>
                                    <DynamicAuthorizeView SectionName="C Shop Nav Dropdown C4" IsPage="false">
                                        <Authorized>
                                            <li class="nav-item px-3">
                                                <NavLink class="nav-link" href="/c4" Match="NavLinkMatch.All">
                                                    <span class="oi oi-person" aria-hidden="true"></span> C-4 LOGISTICS
                                                </NavLink>
                                            </li>
                                        </Authorized>
                                    </DynamicAuthorizeView>
                                    <DynamicAuthorizeView SectionName="C Shop Nav Dropdown C5" IsPage="false">
                                        <Authorized>
                                            <li class="nav-item px-3">
                                                <NavLink class="nav-link" href="/c5" Match="NavLinkMatch.All">
                                                    <span class="oi oi-person" aria-hidden="true"></span> C-5 COMMUNICATIONS
                                                </NavLink>
                                            </li>
                                        </Authorized>
                                    </DynamicAuthorizeView>
                                    <DynamicAuthorizeView SectionName="C Shop Nav Dropdown C6" IsPage="false">
                                        <Authorized>
                                            <li class="nav-item px-3">
                                                <NavLink class="nav-link" href="/c6" Match="NavLinkMatch.All">
                                                    <span class="oi oi-person" aria-hidden="true"></span> C-6 TRAINING
                                                </NavLink>
                                            </li>
                                        </Authorized>
                                    </DynamicAuthorizeView>
                                    <DynamicAuthorizeView SectionName="C Shop Nav Dropdown C7" IsPage="false">
                                        <Authorized>
                                            <li class="nav-item px-3">
                                                <NavLink class="nav-link" href="/c7" Match="NavLinkMatch.All">
                                                    <span class="oi oi-person" aria-hidden="true"></span> C-7 RESOURCES
                                                </NavLink>
                                            </li>
                                        </Authorized>
                                    </DynamicAuthorizeView>
                                    <DynamicAuthorizeView SectionName="C Shop Nav Dropdown C8" IsPage="false">
                                        <Authorized>
                                            <li class="nav-item px-3">
                                                <NavLink class="nav-link" href="/c8" Match="NavLinkMatch.All">
                                                    <span class="oi oi-person" aria-hidden="true"></span> C-8 CIVIL AFFAIRS
                                                </NavLink>
                                            </li>
                                        </Authorized>
                                    </DynamicAuthorizeView>
                                    <DynamicAuthorizeView SectionName="C Shop Nav Dropdown Manager" IsPage="false">
                                        <Authorized>
                                            <li class="nav-item px-3">
                                                <NavLink class="nav-link" href="/manager" Match="NavLinkMatch.All">
                                                    <span class="oi oi-dashboard" aria-hidden="true"></span> Manager Home
                                                </NavLink>
                                            </li>
                                        </Authorized>
                                    </DynamicAuthorizeView>
                                </div>
                            </div>
                        </div>
                    </Authorized>
                </DynamicAuthorizeView>
                <DynamicAuthorizeView SectionName="Utility Nav Dropdown" IsPage="false">
                    <Authorized>
                        <div class="pt-3">
                            <button id="cshops" data-bs-toggle="collapse" data-bs-target="#utility-menu" class="w-100 justify-content-center btn btn-outline-light d-flex align-items-center text-decoration-none dropdown-toggle">
                                Utility
                            </button>
                            <div class="collapse" id="utility-menu">
                                <div class="text-small dropdown-menu-dark shadow p-2">
                                    <li class="nav-item px-3">
                                        <NavLink class="nav-link" href="/utility/changerequest" Match="NavLinkMatch.All">
                                            <span class="oi bi bi-pencil-square" aria-hidden="true"></span> Change Request
                                        </NavLink>
                                    </li>
                                    <li class="nav-item px-3">
                                        <NavLink class="nav-link" href="/utility/report" Match="NavLinkMatch.All">
                                            <span class="oi bi bi-pencil-square" aria-hidden="true"></span> Anonymous Report
                                        </NavLink>
                                    </li>
                                    <li class="nav-item px-3">
                                        <NavLink class="nav-link" href="/utility/report/viewer" Match="NavLinkMatch.All">
                                            <span class="oi bi bi-view-stacked" aria-hidden="true"></span> Report Viewer
                                        </NavLink>
                                    </li>
                                    <li class="nav-item px-3">
                                        <NavLink class="nav-link" href="/utility/uploadpfp" Match="NavLinkMatch.All">
                                            <span class="oi bi bi-file-earmark-person-fill" aria-hidden="true"></span> Upload Profile Picture
                                        </NavLink>
                                    </li>
                                </div>
                            </div>
                        </div>
                    </Authorized>
                </DynamicAuthorizeView>
            </ul>
        </div>
    </div>

    <div class="text-center mx-auto collapse-main collapse">
        v@(Version)
    </div>
</div>