@page "/manager"

<AuthorizeView Policy="RequireManager">
    <Authorized>
        <BreadcrumbsList Url="Urls" />
        <div class="row text-center">
            <div class="col">
                <h1>Manager Home</h1>
            </div>
        </div>
        <div class="row text-center">
            <div class="col p-2 d-grid gap-2">
                  <a class="btn m-1 btn-primary" href="/manager/modify">Modify Trooper Data</a>     
            </div>
        </div>
        <div class="row text-center">
            <div class="col p-2 d-grid gap-2">
                <a class="btn m-1 btn-info" href="/manager/logging">Action Logs</a>
            </div>
        </div>
        <div class="row text-center">
            <div class="col p-2 d-grid gap-2">
                <a class="btn m-1 btn-secondary" href="/manager/import">Import Data</a>
            </div>
        </div>
        <div class="row text-center">
            <div class="col p-2 d-grid gap-2">
                  <a class="btn m-1 btn-primary" href="/manager/settings">Modify Website Settings</a>     
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <NotAuthorizedMessage />
    </NotAuthorized>
</AuthorizeView>

@code {
    public List<(string, string)> Urls = new() { ("/", "Home"), ("/manager", "Manager Home") };
}
