@page "/manager/logging"

<DynamicAuthorizeView SectionName="Manager Logs">
    <Authorized>
        <BreadcrumbsList Url="Urls" />
        <div class="overflow-auto container-fluid">
            <UpdateDisplayTable />
        </div>
    </Authorized>
    <NotAuthorized>
        <NotAuthorizedMessage />
    </NotAuthorized>
</DynamicAuthorizeView>

@code {
    public List<(string, string)> Urls = new() { ("/", "Home"), ("/manager", "Manager Home"), ("/manager/logging", "Action Logs") };
}
