@page "/admin/page/edit"

<AuthorizationHandler Settings="new() { AuthorizationPolicyKey = Guid.Empty }">
	<Authorized>
		<div class="grid grid-cols-3 gap-4 grid-rows-1 p-3">
			<div>
				<div class="grid grid-cols-1 grid-flow-row gap-2">
					<div class="p-2 shadow-md border-slate-400 rounded-br-lg border-2">Pages</div>
					@*Page List Pannel*@
				</div>
			</div>
			<div class="col-span-2">
				<div class="border-l-2 border-slate-400 pl-4 h-full">
					<div class="grid grid-cols-1 grid-flow-row gap-2">
						<div class="shadow-lg border-2 border-slate-400 rounded-lg">
							@*Page Editor Main*@
						</div>
					</div>
				</div>
			</div>
		</div>
	</Authorized>
</AuthorizationHandler>