@inject IRosterService _roster
@inject IAdvancedRefreshService _advRefresh
@implements IRefreshBase


@if(Data is not null)
{
    <table class="table table-striped">
        <HailstormDisplay Hailstorm="Data.Hailstorm" Single="false" />
        <CompanyDisplay Company="Data.Avalanche" Name="Avalanche" />
        <CompanyDisplay Company="Data.Cyclone" Name="Cyclone" />
        <CompanyDisplay Company="Data.Acklay" Name="Acklay" Airborne="true" />
        <MynockDisplay Mynock="Data.Mynock" />
        <RazorDisplay Razor="Data.Razor" />
    </table>
}
else
{
    <em>Loading...</em>
}

@code {
    public OrbatData Data { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender)
        {
            _advRefresh.AddDataReloadListener("UserData", OnDataReloadRequests);
            Data = await _roster.GetOrbatDataAsync();
            StateHasChanged();
        }
    }

    public async Task CallRefreshRequest()
    {
        await InvokeAsync(StateHasChanged);
    }

    public async Task OnDataReloadRequests()
    {
        Data = await _roster.GetOrbatDataAsync();
        await CallRefreshRequest();
    }

    public void Dispose()
    {
        _advRefresh.RemoveDataReloadListener(OnDataReloadRequests);
    }
}
