@implements IRefreshBase


@if(Data is not null)
{
    <table class="table table-striped table-hover">
        <HailstormDisplay Hailstorm="Data.Hailstorm" Single="false" />
        <CompanyDisplay Company="Data.Avalanche" Name="Avalanche" />
        <CompanyDisplay Company="Data.Cyclone" Name="Cyclone" />
        <CompanyDisplay Company="Data.Acklay" Name="Acklay" Airborne="true" Adjutant="Adjutant" />
        <MynockDisplay Mynock="Data.Mynock" />
        <RazorDisplay Razor="Data.Razor" />
    </table>
}
else
{
    <em>Loading...</em>
}