@inject IRosterService _roster

@if(Data is not null)
{
    <table class="table table-striped">
        <HailstormDisplay Hailstorm="Data.Hailstorm" Single="true" />
        <ZetaDisplay Zeta="Data.Zeta" />
    </table>
}
else
{
    <em>Loading...</em>
}

@code {
    public ZetaOrbatData Data { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender)
        {
            Data = await _roster.GetZetaOrbatDataAsync();
            StateHasChanged();
        }
    }
}
