@inherits PaginationModel

<div class="row p-3">
	<div class="col">
		<PaginationController Controller="this" />
	</div>
</div>

@foreach(var item in base.Items)
{
	var i = (TrooperMessage)item;
	<div class="row p-3">
		<div class="col-sm-3 border-end border-secondary">
			<figure>
				<blockquote class="blockquote">
					@if(AnonId == i.AuthorId)
					{
						<p>Anonymous</p>
					}
					else
					{
						<p>[@i.Author?.BirthNumber] @i.Author?.NickName</p>
					}
				</blockquote>
				<figcaption class="blockquote-footer">
					Posted On <cite title="Source Title">@i.CreatedOn.ToEst().ToShortDateString() - @i.CreatedOn.ToEst().ToShortTimeString()</cite>
				</figcaption>
			</figure>
		</div>
		<div class="col-sm-9">
			@i.Display
		</div>
	</div>
}

<div class="row p-3">
	<div class="col">
		<PaginationController Controller="this" />
	</div>
</div>

<DynamicAuthorizeView SectionName="Trooper Message Board Post" IsPage="false">
	<Authorized>
		<hr />

		<div class="row p-3">
			<div class="col">
				<EditForm Context="newMessageForContext" Model="this" class="form">
					<h4 class="text-center">Post Message</h4>
					<InputRichText @bind-Value="NewMessage" class="form-control" rows="4" />
					<div class="p-3 d-grid gap-3">
						<button class="btn btn-outline-success" @onclick="PostMessage">Post Message</button> 
					</div>
				</EditForm>
			</div>
		</div>
	</Authorized>
</DynamicAuthorizeView>