@if(IsAuthorized)
{
	@Authorized
}
else if (NotAuthorized is not null)
{
	@NotAuthorized
}
else
{
	<em>You are not authroized to see this page. Go <a class="text-blue-600 visited:text-purple-600" href="/">home</a></em>
}