@inherits LayoutComponentBase

<CascadingValue Name="ActiveUser" Value="@ActiveUser">
    <NavMenu/>

    <div class="page">
        <main>

            <article class="">
                @Body
            </article>
        </main>
    </div>
</CascadingValue>