@inherits LayoutComponentBase

<CascadingValue Name="ActiveUser" Value="@ActiveUser">
    <div class="flex flex-col h-full">
        <NavMenu />
        <AlertContainer />
        <ContextMenuHandler />

        <div class="page flex-grow">
            <main class="h-full">

                <article class="h-full">
                    @Body
                </article>
            </main>
        </div>
    </div>
</CascadingValue>