@inherits LayoutComponentBase

<CascadingValue Name="ActiveUser" Value="@ActiveUser">
    <PageClickHandler>
        <Content>
            <NavMenu />
            <AlertContainer />        
            <AbsoluteMenuPopupHandler />

            <div class="page flex-grow">
                <main class="h-full">

                    <article class="h-full">
                        @Body
                    </article>
                </main>
            </div>
        </Content>
    </PageClickHandler>
</CascadingValue>