@inherits LayoutComponentBase

<CascadingValue Name="ActiveUser" Value="@ActiveUser">
    <div class="page">
        <main>


            <article class="">
                @Body
            </article>
        </main>
    </div>
</CascadingValue>