<nav class="bg-emerald-800 h-[32px] text-white z-10">
    <ul class="flex gap-4">
        <li class="top-link">Your Roster</li>
        
        <li class="top-link group">
            <button class="has-dropdown">Modules</button>
            <ul class="bg-emerald-800 z-10 rounded-b-md transform scale-0 group-hover:scale-100 absolute left-0 top-full transition duration-150 ease-in-out origin-top w-max min-w-full">
                <li class="link">Roster Clerks</li>
                <li class="link">Quals</li>
                <li class="link relative rounded-bl-md">
                    <button class="has-dropdown">Utils</button>
                    <ul class="bg-emerald-800 z-10 rounded-r-md rounded-bl-md absolute top-0 right-[2px] transition duration-150 ease-in-out origin-top-left w-max min-w-full">
                        <li class="link rounded-tr-md">Report View</li>
                        <li class="link">Change Request</li>
                        <li class="link">Anonymous Report</li>
                        <li class="link rounded-b-md">Upload Profile Picture</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</nav>