@page "/trooper/me/accessgrants"
@implements IDisposable
@inject ComponentApplicationState _state
@inject NavigationManager _nav
@inject IRosterService _roster

<AuthorizeView Policy="RequireTrooper">
    <Authorized>
        <h2>Access Grants for Direct Subordinates</h2>
        @if(Trooper is not null)
        {
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nickname</th>
                        <th scope="col">Role</th>
                        <th scope="col">Access Code</th>
                    </tr>
                </thead>
                <tbody>
                @foreach(var t in DirectSubordinates)
                {
                    <tr>
                        <td>@t.Id</td>
                        <td>@t.NickName</td>
                        <td>@t.Role.AsFull()</td>
                        <td>@t.AccessCode</td>
                    </tr>
                }
                </tbody>
            </table>
        }
        else
        {
            <em>Loading...</em>
        }
    </Authorized>
    <NotAuthorized>
        <NotAuthorizedMessage />
    </NotAuthorized>
</AuthorizeView>

@code {
    [CascadingParameter]
    public Trooper? Trooper { get; set; }

    public List<Trooper> DirectSubordinates { get; set; } = new();

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();

        _state.OnPersisting += PersistState;

        if (_state.TryTakeAsJson<List<Trooper>>(_nav.Uri.ToString(), out var data))
        {
            DirectSubordinates = data;
        }
        else
        {
            DirectSubordinates = await _roster.GetDirectSubordinates(Trooper);
        }
    }

    private Task PersistState()
    {
        _state.PersistAsJson(_nav.Uri.ToString(), DirectSubordinates);
        return Task.CompletedTask;
    }

    void IDisposable.Dispose()
    {
        _state.OnPersisting -= PersistState;
    }
}
