@page "/platoon/{PlatoonDesignation}"
@inject IRosterService _roster
@inject IAuthorizationService _auth
@inject IAdvancedRefreshService _advRefresh
@implements IRefreshBase

<ul class="nav nav-tabs row">
    <li class="nav-item col">
        <button class="nav-link w-100 h-100 @(Active == PlatoonDisplayOption.Roster ? "active bg-primary text-light" : "")" @onclick="(x) => OnTypeChange(PlatoonDisplayOption.Roster)">Roster</button>
    </li>
    <AuthorizeView Policy="RequireTrooper">
        <Authorized>
            <li class="nav-item col">
                <button class="nav-link w-100 h-100 @(Active == PlatoonDisplayOption.PromotionBoard ? "active bg-primary text-light" : "")" @onclick="(x) => OnTypeChange(PlatoonDisplayOption.PromotionBoard)">Promotion Board</button>
            </li>
        </Authorized>
    </AuthorizeView>
</ul>
@if(Loaded)
{
    <div class="tab-content">
        @switch(Active)
        {
            case PlatoonDisplayOption.Roster:

                break;
            case PlatoonDisplayOption.PromotionBoard:
                <h4>@Slot.AsFull()'s Promotion Board</h4>
                @if(Data is not null || ZetaData is not null)
                {
                    <CascadingValue Name="Airborne" Value="Airborne" >
                        <PlatoonPromotionBoard Platoon="Data" Zeta="ZetaData" />
                    </CascadingValue>
                }
                else
                {
                    <em>No platoon data was found. Make sure you are in a platoon or the provided designation is correct.</em>
                }
                break;
        }
    </div>
}
else
{
    <em>Loading...</em>
}

@code {
    public enum PlatoonDisplayOption
    {
        Roster,
        PromotionBoard,
    }

    [Parameter]
    public string PlatoonDesignation { get; set; } = "";

    [CascadingParameter]
    public Task<AuthenticationState> AuthStateTask { get; set; }

    private PlatoonDisplayOption Active { get; set; } = PlatoonDisplayOption.Roster;
    private PlatoonData? Data { get; set; } = null;
    private ZetaSectionData? ZetaData { get; set; } = null;
    private bool Loaded { get; set; } = false;
    private bool Airborne { get; set; } = false;
    private Slot Slot { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if(firstRender)
        {
            var user = (await AuthStateTask).User;

            if (int.TryParse(PlatoonDesignation, out int id))
            {
                Slot = (Slot)id;
                var dat = await _roster.GetPlatoonDataFromSlotAsync(Slot, (await _auth.AuthorizeAsync(user, "RequireManager")).Succeeded);
                if (dat is not null)
                {
                    if (dat.Slotted)
                        Data = (PlatoonData)dat.Data;
                    else ZetaData = (ZetaSectionData)dat.Data;
                }
            }
            else if (PlatoonDesignation == "me")
            {
                var dat = await _roster.GetPlatoonDataFromClaimPrincipalAsync(user);
                if (dat is not null)
                {
                    if (dat.Slotted)
                        Data = (PlatoonData)dat.Data;
                    else ZetaData = (ZetaSectionData)dat.Data;
                }
                var t = await _roster.GetTrooperFromClaimsPrincipalAsync(user);
                if(t is not null)
                    Slot = (Slot)((int)t.Slot / 10 * 10);
            }

            if (Slot >= Slot.AcklayCompany && Slot < Slot.Mynock)
                Airborne = true;

            Loaded = true;

            StateHasChanged();

            if(Airborne)
                _advRefresh.AddDataReloadListener("Promotion_Company", DataReloadRequested);
            else
                _advRefresh.AddDataReloadListener("Promotion_Platoon", DataReloadRequested);
        }
    }

    private void OnTypeChange(PlatoonDisplayOption option)
    {
        Active = option;
        StateHasChanged();
    }

    public async Task CallRefreshRequest()
    {
        await InvokeAsync(StateHasChanged);
    }

    public async Task DataReloadRequested()
    {
        var user = (await AuthStateTask).User;

        if(int.TryParse(PlatoonDesignation, out int id))
        {
            var dat = await _roster.GetPlatoonDataFromSlotAsync(Slot, (await _auth.AuthorizeAsync(user, "RequireManager")).Succeeded);
            if (dat is not null)
            {
                if (dat.Slotted)
                    Data = (PlatoonData)dat.Data;
                else ZetaData = (ZetaSectionData)dat.Data;
            }
        }
        else if (PlatoonDesignation == "me")
        {
            var dat = await _roster.GetPlatoonDataFromClaimPrincipalAsync(user);
            if (dat is not null)
            {
                if (dat.Slotted)
                    Data = (PlatoonData)dat.Data;
                else ZetaData = (ZetaSectionData)dat.Data;
            }
        }
        await CallRefreshRequest();
    }

    public void Dispose()
    {
        _advRefresh.RemoveDataReloadListener(DataReloadRequested);
    }
}
