@page "/platoon/{PlatoonDesignation}"
@inject IRosterService _roster
@inject IAuthorizationService _auth
@inject IAdvancedRefreshService _advRefresh
@implements IRefreshBase

<ul class="nav nav-tabs row">
    <li class="nav-item col">
        <button class="nav-link w-100 h-100 @(Active == PlatoonDisplayOption.Roster ? "active bg-primary text-light" : "")" @onclick="(x) => OnTypeChange(PlatoonDisplayOption.Roster)">Roster</button>
    </li>
    <li class="nav-item col">
        <button class="nav-link w-100 h-100 @(Active == PlatoonDisplayOption.PromotionBoard ? "active bg-primary text-light" : "")" @onclick="(x) => OnTypeChange(PlatoonDisplayOption.PromotionBoard)">Promotion Board</button>
    </li>
</ul>
@if(Loaded)
{
    <div class="tab-content">
        @switch(Active)
        {
            case PlatoonDisplayOption.Roster:

                break;
            case PlatoonDisplayOption.PromotionBoard:
                <h4>@Slot.AsFull()'s Promotion Board</h4>
                @if(Data is not null)
                {
                    <PlatoonPromotionBoard Platoon="Data" />
                }
                else
                {
                    <em>No platoon data was found. Make sure you are in a platoon or the provided designation is correct.</em>
                }
                break;
        }
    </div>
}
else
{
    <em>Loading...</em>
}

@code {
    public enum PlatoonDisplayOption
    {
        Roster,
        PromotionBoard,
    }

    [Parameter]
    public string PlatoonDesignation { get; set; } = "";

    [CascadingParameter]
    public Task<AuthenticationState> AuthStateTask { get; set; }

    private PlatoonDisplayOption Active { get; set; } = PlatoonDisplayOption.Roster;
    private PlatoonData? Data { get; set; }
    private bool Loaded { get; set; } = false;
    private Slot Slot { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if(firstRender)
        {
            var user = (await AuthStateTask).User;

            if (int.TryParse(PlatoonDesignation, out int id))
            {
                Slot = (Slot)id;
                Data = await _roster.GetPlatoonDataFromSlotAsync(Slot, (await _auth.AuthorizeAsync(user, "RequireManager")).Succeeded);
            }
            else if (PlatoonDesignation == "me")
            {
                Data = await _roster.GetPlatoonDataFromClaimPrincipalAsync(user);
                var t = await _roster.GetTrooperFromClaimsPrincipalAsync(user);
                Slot = (Slot)((int)t.Slot / 10 * 10);
            }

            Loaded = true;

            StateHasChanged();

            _advRefresh.AddDataReloadListener("Promotion_Platoon", DataReloadRequested);
        }
    }

    private void OnTypeChange(PlatoonDisplayOption option)
    {
        Active = option;
        StateHasChanged();
    }

    public async Task CallRefreshRequest()
    {
        await InvokeAsync(StateHasChanged);
    }

    public async Task DataReloadRequested()
    {
        var user = (await AuthStateTask).User;

        if(int.TryParse(PlatoonDesignation, out int id))
            Data = await _roster.GetPlatoonDataFromSlotAsync((Slot)id, (await _auth.AuthorizeAsync(user, "RequireManager")).Succeeded);
        else if (PlatoonDesignation == "me")
            Data = await _roster.GetPlatoonDataFromClaimPrincipalAsync(user);

        await CallRefreshRequest();
    }

    public void Dispose()
    {
        _advRefresh.RemoveDataReloadListener(DataReloadRequested);
    }
}
