@page "/razor"
@inject IRosterService _roster
@inject IAuthorizationService _auth
@inject IAdvancedRefreshService _advRefresh
@implements IRefreshBase

<ul class="nav nav-tabs row">
    <li class="nav-item col">
        <button class="nav-link w-100 h-100 @(Active == RazorDisplayOption.Roster ? "active bg-primary text-light" : "")" @onclick="(x) => OnTypeChange(RazorDisplayOption.Roster)">Roster</button>
    </li>
    <DynamicAuthorizeView SectionName="Razor Promotion Board">
        <Authorized>
            <li class="nav-item col">
                <button class="nav-link w-100 h-100 @(Active == RazorDisplayOption.RazorPromotionBoard ? "active bg-primary text-light" : "")" @onclick="(x) => OnTypeChange(RazorDisplayOption.RazorPromotionBoard)">Razor Promotion Board</button>
            </li>
            <li class="nav-item col">
                <button class="nav-link w-100 h-100 @(Active == RazorDisplayOption.WardenPromotionBoard ? "active bg-primary text-light" : "")" @onclick="(x) => OnTypeChange(RazorDisplayOption.WardenPromotionBoard)">Warden Promotion Board</button>
            </li>
        </Authorized>
    </DynamicAuthorizeView>
</ul>
@if(Loaded)
{
    <div class="tab-content">
        @switch(Active)
        {
            case RazorDisplayOption.Roster:
                <table class="table table-striped table-hover">
                    <RazorDisplay Razor="RazorData" />
                </table>
                break;
            case RazorDisplayOption.RazorPromotionBoard:
                <h4>Razor Promotion Board</h4>
                @if(RazorData is not null)
                {
                    <RazorPromotionBoard Razor="RazorData" />
                }
                else
                {
                    <em>No Razor data was found.</em>
                }
                break;
            case RazorDisplayOption.WardenPromotionBoard:
                <h4>Warden Promotion Board</h4>
                @if(WardenData is not null)
                {
                    <WardenPromotionBoard Warden="WardenData" Razor="RazorData" />
                }
                else
                {
                    <em>No Warden data was found.</em>
                }
                break;
        }
    </div>
}
else
{
    <em>Loading...</em>
}


