@page "/squad/{SquadDesignation}"
@inject IRosterService _roster
@inject IAuthorizationService _auth
@inject IAdvancedRefreshService _advRefresh
@implements IRefreshBase

<ul class="nav nav-tabs row">
    <li class="nav-item col">
        <button class="nav-link w-100 h-100 @(Active == SquadDisplayOption.Roster ? "active bg-primary text-light" : "")" @onclick="(x) => OnTypeChange(SquadDisplayOption.Roster)">Roster</button>
    </li>
    <li class="nav-item col">
        <button class="nav-link w-100 h-100 @(Active == SquadDisplayOption.PromotionBoard ? "active bg-primary text-light" : "")" @onclick="(x) => OnTypeChange(SquadDisplayOption.PromotionBoard)">Promotion Board</button>
    </li>
</ul>
@if(Loaded)
{
    <div class="tab-content">
        @switch(Active)
        {
            case SquadDisplayOption.Roster:

                break;
            case SquadDisplayOption.PromotionBoard:
                <h4>@Slot.AsFull()'s Promotion Board</h4>
                @if(Data is not null)
                {
                    <SquadPromotionBoard Squad="Data" />
                }
                else
                {
                    <em>No squad data was found. Make sure you are in a platoon or the provided designation is correct.</em>
                }
                break;
        }
    </div>
}
else
{
    <em>Loading...</em>
}

@code {
    public enum SquadDisplayOption
    {
        Roster,
        PromotionBoard,
    }

    [Parameter]
    public string SquadDesignation { get; set; } = "";

    [CascadingParameter]
    public Task<AuthenticationState> AuthStateTask { get; set; }

    private SquadDisplayOption Active { get; set; } = SquadDisplayOption.Roster;
    private SquadData? Data { get; set; }
    private bool Loaded { get; set; } = false;
    private Slot Slot { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if(firstRender)
        {
            var user = (await AuthStateTask).User;

            if (int.TryParse(SquadDesignation, out int id))
            {
                Slot = (Slot)id;
                Data = await _roster.GetSquadDataFromSlotAsync(Slot, (await _auth.AuthorizeAsync(user, "RequireManager")).Succeeded);
            }
            else if (SquadDesignation == "me")
            {
                Data = await _roster.GetSquadDataFromClaimPrincipalAsync(user);
                var t = await _roster.GetTrooperFromClaimsPrincipalAsync(user);
                Slot = t.Slot;
            }

            Loaded = true;

            StateHasChanged();

            _advRefresh.AddDataReloadListener("Promotion_Squad", DataReloadRequested);
        }
    }

    private void OnTypeChange(SquadDisplayOption option)
    {
        Active = option;
        StateHasChanged();
    }

    public async Task CallRefreshRequest()
    {
        await InvokeAsync(StateHasChanged);
    }

    public async Task DataReloadRequested()
    {
        var user = (await AuthStateTask).User;

        if(int.TryParse(SquadDesignation, out int id))
            Data = await _roster.GetSquadDataFromSlotAsync((Slot)id, (await _auth.AuthorizeAsync(user, "RequireManager")).Succeeded);
        else if (SquadDesignation == "me")
            Data = await _roster.GetSquadDataFromClaimPrincipalAsync(user);

        await CallRefreshRequest();
    }

    public void Dispose()
    {
        _advRefresh.RemoveDataReloadListener(DataReloadRequested);
    }
}
