@page "/trooper/{TrooperBirthNumber}"
@inject IRosterService _roster
@inject NavigationManager _nav

@if(Trooper is not null)
{
    if(Trooper.Id != 0)
    {
        <PublicTrooperProfile Trooper="Trooper" />
    }
    else
    {
        <em>No trooper found. Go <a href="/">home</a>.</em>
    }
}
else
{
    <em>Loading...</em>
}