@inherits LayoutBase

<AuthorizationHandler Settings="ComponentSettings">
	<Authorized>
        <div class="@(Editing ? "part-edit-container" : "")">
            @if (AuthSettings)
            {
                <ComponentAuthorizationEditForm ComponentData="ComponentSettings" OnSettingsClose="ToggleAuthSettingsPanelAsync" />
            }
            else if (DisplayLayoutSettings)
            {
                <LayoutComponentSettingsEditForm ComponentData="ComponentSettings" OnSettingsClose="ToggleSettingsPanelAsync" />
            }            
            else
            {
                <div class="p-1 grid grid-flow-row-dense gap-3 lg:grid-cols-@Width
                    md:grid-cols-@((Width - 1) < 0 ? 0 : Width - 1) grid-cols-@((Width - 2) < 0 ? 0 : Width - 2)">
                    @for (var x = 0; x < Width; x++)
                    {
                        var xa = x * Height;
                        for (var y = 0; y < Height; y++)
                        {
                            var pos = y + xa;
                            if (ConfiguredSettings[pos] is not null)
                            {
                                <DynamicComponent Type="ConfiguredTypes[pos]" Parameters="ConfiguredParameters[pos]" />
                            }
                            else if (Editing && ComponentSettings is not null)
                            {
                                <AddComponentDialog ParentComponent="ComponentSettings.Key" 
                                    Position="pos" 
                                    AllowedAttributes="AllowedAttributes" />
                            }
                        }
                    }
                </div>
                @if (Editing && ComponentSettings is not null)
                {
                    <button class="absolute top-0 right-0 p-2 rounded-lg bg-red-500" 
                        @onclick="async () => await RemoveCurrentLayoutAsync(ComponentSettings)">Remove Layout</button>

                    <button class="absolute bottom-0 right-0 p-2 rounded-lg bg-slate-500"
                        @onclick="ToggleSettingsPanelAsync">
                        <span class="material-icons-round">settings</span>
                    </button>

                    <button class="absolute bottom-0 left-0 p-2 rounded-lg bg-blue-500"
                        @onclick="ToggleAuthSettingsPanelAsync">
                        <span class="material-icons-round">settings</span>
                    </button>
                }
            }
        </div>
    </Authorized>
</AuthorizationHandler>

<div class="hidden grid-cols-1 grid-cols-2 grid-cols-3 lg:grid-cols-1 lg:grid-cols-2 lg:grid-cols-3 md:grid-cols-1 md:grid-cols-2 md:grid-cols-3 sm:grid-cols-1 sm:grid-cols-2 sm:grid-cols-3"></div>
