@inherits LayoutBase

<div class="mx-auto py-6 sm:px-6 lg:px-8 inset-0 relative">
    <div class="px-4 py-6 sm:px-0 grid gap-3 grid-rows-@Height grid-cols-@Width">
        @for (var x = 0; x < Width; x++)
        {
            var xa = x;
            for(var y = 0; y < Height; y++)
            {
                var pos = y + xa;
                @if (ConfiguredSettings[pos] is not null)
                {
                    <DynamicComponent Type="ConfiguredTypes[pos]" Parameters="ConfiguredParameters[pos]" />
                }
                else if(Editing && ComponentSettings is not null)
                {
                    <AddComponentDialog ParentComponent="ComponentSettings.Key" 
                        Position="pos" 
                        AllowedAttributes="AllowedAttributes" />
                }
            }
        }
    </div>
    @if(Editing && ComponentSettings is not null)
    {
        <button class="absolute top-0 right-0 p-2 rounded-lg bg-red-500" @onclick="RemoveCurrentLayoutAsync">Remove Layout</button>
    }
</div>