@inherits LayoutBase

<div class="mx-auto py-6 sm:px-6 lg:px-8 inset-0 h-screen">
    <div class="px-4 py-6 sm:px-0 columns-3 grid gap-3 grid-rows-3 grid-cols-3 h-full">
        <div class="border-4 border-dashed border-gray-200 rounded-lg h-full w-full">
            @Route
        </div>
        <div class="border-4 border-dashed border-gray-200 rounded-lg h-full w-full">
            @Route
        </div>
        <div class="border-4 border-dashed border-gray-200 rounded-lg h-full w-full">
            @Route
        </div>
        <div class="border-4 border-dashed border-gray-200 rounded-lg h-full w-full">
            @Route
        </div>
        <div class="border-4 border-dashed border-gray-200 rounded-lg h-full w-full">
            @Route
        </div>
        <div class="border-4 border-dashed border-gray-200 rounded-lg h-full w-full">
            @Route
        </div>
        <div class="border-4 border-dashed border-gray-200 rounded-lg h-full w-full">
            @Route
        </div>
        <div class="border-4 border-dashed border-gray-200 rounded-lg h-full w-full">
            @Route
        </div>
        <div class="border-4 border-dashed border-gray-200 rounded-lg h-full w-full">
            @Route
        </div>
    </div>
</div>