@page "/c1/recruiter/addmember"

<AuthorizeView Policy="RequireMemberStaff" >
    <Authorized>
        <h2>Create New Member Account</h2>
    </Authorized>
    <NotAuthorized>
        <NotAuthorizedMessage />
    </NotAuthorized>
</AuthorizeView>

@code {
    [CascadingParameter]
    public Task<AuthenticationState> AuthStateTask { get; set; }


}
