@using ProjectDataCore.Components.Framework.Cascade
@if(ParentNode is not null)
{
	<CascadeIfNull Value="RefreshRequested">
		<Content>
			@if(ParentNode.Component is not null)
			{
				<DynamicComponent Type="ComponentType" Parameters="ComponentParams" />
			}
			else if (ParentNode.Nodes.Count > 0)
			{
				if(IsEditingScope)
				{
					@*We need to use a grid system here*@

					<div class="w-full h-full relative grid" 
						 style="@((ParentNode.Rows ? "grid-template-rows" : "grid-template-columns") + $": {ParentNode.RawNodeWidths}")"
						 data-split-container="@ParentNode.EditorKey">
						@for (int i = 0; i < ParentNode.Nodes.Count; i++)
						{
							var node = ParentNode.Nodes.FirstOrDefault(x => x.Order == i);
					
							<div class="relative">
								@if (node is not null)
								{
									<LayoutNodeTreeLoader ParentNode="node" EditComponent="EditComponent" />
								}
							</div>

							@if(i < ParentNode.Nodes.Count - 1)
							{
								<div id="gutter-node-@i"></div>
							}
						}
					</div>
				}
				else
				{
					@*We need to use divs with a percentage value here*@
					<div class="w-max h-max flex @(ParentNode.Rows ? "flex-col" : "flex-row")">
						@for(int i = 0; i < ParentNode.Nodes.Count; i++)
						{
							var node = ParentNode.Nodes.FirstOrDefault(x => x.Order == i);

							<div style="@((ParentNode.Rows ? $"height" : "width") + $": {ParentNode.NodeWidths[i]}%")">
								<LayoutNodeTreeLoader ParentNode="node" EditComponent="EditComponent" />
							</div>
						}
					</div>
				}
			}
			else
			{
				<PageComponent Name="DummyComponent" EditingNode="ParentNode">
					<Publish></Publish>
					<Editing>
						@*Droppable
							TODO
								- Implement droppable div box and handle component additions.
						*@
					</Editing>
				</PageComponent>
			}
		</Content>
	</CascadeIfNull>
}