<CascadingValue Value="OnConfigureNodePushed" Name="EditorSettingsNodeHook">
	<div class="h-full grid grid-cols-3 grid-rows-1 gap-2 text-center">
		<div class="relative col-span-1">
			@*Component Selection*@
			<div class="@(ShowConfigurationOptions ? "invisible" : "visible") transition-all absolute inset-0">

			</div>
			@*Component Setting Options Panel*@
			<div class="@(ShowConfigurationOptions ? "visible" : "invisible") transition-all absolute inset-0">

			</div>
		</div>
		<div class="relative col-span-2">
			@*Page/Component Editing Area*@

			@*Settings Editor*@

		</div>
	</div>
</CascadingValue>