@if(IsEditing && Editing is not null)
{
	<div class="relative group">
		@Editing

		<div class="absolute inset-x-0 top-0 hidden border-gray-400 group-hover:block group-hover:border-4"></div>
		<div class="absolute inset-x-0 bottom-0 hidden border-gray-400 group-hover:block group-hover:border-4"></div>
		<div class="absolute inset-y-0 left-0 hidden border-gray-400 group-hover:block group-hover:border-4"></div>
		<div class="absolute inset-y-0 right-0 hidden border-gray-400 group-hover:block group-hover:border-4"></div>
	</div>

	@*Call the configure render builder. There should be no visible HTML to render.*@
	@if(IsConfiguring)
	{
		<div class="hidden">
			@Configure
		</div>
	}
}
else
{
	@Publish
}