@inherits FormLayoutBase

<CascadingValue Value="true" Name="MultiAction">
	<BasicFormPart ComponentSettings="ComponentData">
		<FormCap>
			<div class="grid gird-cols-1 grid-flow-rows-dense gap-2 p-2">

			</div>
		</FormCap>
	</BasicFormPart>
</CascadingValue>