@page "/"

<h1>Hello there!</h1>

General Kenobi.

<hr />

@if(Loaded)
{
    <NoticeBoard Name="Index" />
}

@code {
    private bool Loaded { get; set; } = false;
    private bool LCheck { get; set; } = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        Loaded = !firstRender;

        if (firstRender)
            StateHasChanged();
        else if(!LCheck)
        {
            LCheck = true;
            StateHasChanged();
        }
    }
}