@page "/"

<DynamicAuthorizeView SectionName="Homepage">
 <Authorized>
  <h1>Welcome back, @CurrentUser?.NickName!!</h1>
 </Authorized>
 <NotAuthorized>
     <h1>Welcome Guest!</h1>
 </NotAuthorized>
</DynamicAuthorizeView>

Hello there, General Kenobi.

<hr />

<NoticeBoard Name="Index" />