.Success {
    @apply bg-green-500 hover:bg-green-400;
}

.Warn {
    @apply bg-yellow-500 hover:bg-yellow-400;
}

.Info {
    @apply bg-blue-500 hover:bg-blue-400;
}

.Error {
    @apply bg-red-500 hover:bg-red-400;
}

.Alert{
    animation: fadein 500ms;
}

@keyframes fadein {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}