<div class="absolute inset-0 bg-slate-200/80">
	<div class="relative w-100 h-100 overflow-hidden grid grid-cols-1 grid-rows-1 place-content-center">
		<div class="rounded-lg shadow-md bg-slate-400">
			Don't leave you are not allowed to leave :)
		</div>
	</div>
</div>