<div class="absolute bottom-0 left-0 bg-slate-200 p-0.5 text-slate-700 ease-out transition-all origin-bottom-left duration-7
    @(ClosePopup ? "scale-0 invisible z-0" : "scale-100 visible z-50")">
    @LastKeybinding
</div>