<div class="row">
    <div class="col">
        <ol class="breadcrumb p-2 bg-light border border-secondary">
            @foreach(var item in Url)
            {
                <li class="breadcrumb-item"><a href="@item.Item1">@item.Item2</a></li>
            }
        </ol>
    </div>
</div>

@code {
    [Parameter]
    public List<(string, string)> Url { get; set; } = new();
}
