<tbody>
    <tr>
        <th scope="row" class="text-end">
            Company Commander
        </th>
        <td class="text-start">
            @(Company.Commander?.WarrantRank is null ? Company.Commander?.Rank?.AsFull() + " " ?? "" : Company.Commander?.WarrantRank?.AsFull() + " " ?? "")@(Company.Commander?.NickName ?? "TBD")
        </td>
    </tr>
    <tr>
        <th scope="row" class="text-end">
            Company Executive Officer
        </th>
        <td class="text-start">
            @(Company.XO?.WarrantRank is null ? Company.XO?.Rank?.AsFull() + " " ?? "" : Company.XO?.WarrantRank?.AsFull() + " " ?? "")@(Company.XO?.NickName ?? "TBD")
        </td>
    </tr>
    <tr>
        <th scope="row" class="text-end">
            Company NCOIC
        </th>
        <td class="text-start">
            @(Company.NCOIC?.WarrantRank is null ? Company.NCOIC?.Rank?.AsFull() + " " ?? "" : Company.NCOIC?.WarrantRank?.AsFull() + " " ?? "")@(Company.NCOIC?.NickName ?? "TBD")
        </td>
    </tr>
    <tr>
        <th scope="row" class="text-end">
            Company Adjutant
        </th>
        <td class="text-start">
            @(Company.Adjutant?.WarrantRank is null ? Company.Adjutant?.Rank?.AsFull() + " " ?? "" : Company.Adjutant?.WarrantRank?.AsFull() + " " ?? "")@(Company.Adjutant?.NickName ?? "TBD")
        </td>
    </tr>
</tbody>

@code {
    [Parameter]
    public ZetaCompanyData Company { get; set; }
}
