@page "/recruits/crclisting"

<div class="text-center">
    <h4>New Recruits</h4>
</div>

<RecruitListing Troopers="Recruits" />

<hr />

<div class="text-center">
    <h4>UTC Cadets</h4>
</div>

<RecruitListing Troopers="UTCCadets" />