@page "/recruits/crclisting"

<DynamicAuthorizeView SectionName="New Recruit Listing">
	<Authorized>
		<div class="text-center">
			<h4>New Recruits</h4>
		</div>

		<RecruitListing Troopers="Recruits" />

		<hr />

		<div class="text-center">
			<h4>UTC Cadets</h4>
		</div>

		<RecruitListing Troopers="UTCCadets" />
	</Authorized>
	<NotAuthorized>
		<NotAuthorizedMessage />
	</NotAuthorized>
</DynamicAuthorizeView>