@inject IAuthorizationService _auth
@inject IRosterService _roster

<h3>Hailstorm Battalion Promotion Board</h3>

<CascadingValue Value="CanPromote">
@if(Troopers is not null)
{
    <CascadingValue Value="Troopers">

        <PendingPromotionsListing BoardLevel="PromotionBoardLevel.Battalion" />

        <EligibleForPromotionListing SendPromotionsTo="PromotionBoardLevel.Battalion" />

    </CascadingValue>
}
</CascadingValue>

@code {
    [CascadingParameter]
    public Trooper CurrentUser { get; set; }

    [CascadingParameter]
    public HailstormData Battalion { get; set; }

    [CascadingParameter]
    public Task<AuthenticationState> AuthStateTask { get; set; }

    public List<Trooper>? Troopers { get; set; } = null;

    private bool CanPromote { get; set; } = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if(firstRender)
        {
            Troopers = await _roster.GetTroopersWithPendingPromotions();

            StateHasChanged();
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();

        var user = (await AuthStateTask).User;

        bool manager = (await _auth.AuthorizeAsync(user, "RequireManager")).Succeeded;

        CanPromote = manager
            || Battalion.Commander.Id == CurrentUser.Id 
            || Battalion.XO.Id == CurrentUser.Id
            || Battalion.NCOIC.Id == CurrentUser.Id;
    }
}
