@page "/utility/report"

<DynamicAuthorizeView SectionName="Anonymous Report Page">
    <Authorized>
        <div class="row">
            <div class="col">
                <h1 class="text-center display-6">
                    Anonymous Report Page
                </h1>
                <hr />
                <NoticeBoard Name="TrooperReportPageNoticeBoard" HideName="true" />
            </div>
        </div>

        <EditForm Model="Report" class="form" Context="reportFormContext">
            <div class="form-group p-3">
                <label for="report-summary"><h5>Report Summary</h5></label>
                <InputText class="form-control" @bind-Value="Report.Summary" id="report-summary"
                    placeholder="Enter the summary of the report here." />
            </div>
            <div class="form-group p-3">
                <label for="report-details"><h5>Report Details</h5></label>
                <InputRichText class="form-control" @bind-Value="FirstReportMessage" id="report-details"
                    placeholder="Enter the details of the report here." />
            </div>
            <div class="form-group p-3">
                <div class="form-check">
                    <InputCheckbox class="form-check-input" @bind-Value="Report.Public" id="public-check" />
                    <label class="form-check-label" for="public-check">Display your name on this report?</label>
                </div>
            </div>

            <div class="form-group p-3">
                <div class="d-grid gap-3">
                    <button @onclick="OnSubmit" class="btn btn-primary">Submit</button>
                    <button @onclick="OnCancel" class="btn btn-danger">Cancel</button>
                </div>
            </div>
        </EditForm>
    </Authorized>
</DynamicAuthorizeView>