@page "/utility/changerequest"
<AuthorizeView Policy="RequireTrooper">
    <Authorized>
        @if(CurrentUser is not null)
        {
        <div class="text-center">
            <h3>Request Trooper Data Changes</h3>
            <EditForm Model="Model" class="form" Context="dataChangesContext">
                <div class="row">
                    <div class="col">
                        <h6>Pleas input corrections for any invalid data.</h6>
                    </div>
                </div>
                <ChangeRequestData User="CurrentUser" Model="Model" />
                @if(Errors.Count > 0)
                {
                <div class="row">
                    <div class="col p-3">
                        <div class="alert alert-danger alert-dismissible w-100">
                            <button type="button" class="btn oi oi-x float-right" @onclick="ClearErrors"></button>
                            <strong>Something went wrong!</strong>
                            <ul>
                            @foreach(var i in Errors)
                            {
                                <li>@i</li>
                            }
                            </ul>
                        </div>
                    </div>
                </div>
                }
                @if(SuccessMessage is not null)
                {
                    <div class="row">
                        <div class="col p-3">
                            <div class="alert alert-success alert-dismissible w-100">
                                <button type="button" class="btn oi oi-x float-right" @onclick="ClearSuccess"></button>
                                <strong>@SuccessMessage</strong>
                            </div>
                        </div>
                    </div>
                }
                    <div class="row">
                    <div class="col">
                        <div class="d-grid gap-2">
                            <button class="btn btn-success" @onclick="OnSubmit">Submit Change Request</button>
                        </div>
                    </div>
                </div>
                <br class="p-3" />
            </EditForm>
        </div>
        }
        else
        {
            <em>Loading...</em>
        }
    </Authorized>
    <NotAuthorized>
        <NotAuthorizedMessage />
    </NotAuthorized>
</AuthorizeView>