@page "/utility/changerequest"
<DynamicAuthorizeView SectionName="Change Request Form">
    <Authorized>
        @if(CurrentUser is not null)
        {
        <div class="text-center">
            <h3>Request Trooper Data Changes</h3>
            <EditForm Model="Model" class="form" Context="dataChangesContext">
                <div class="row">
                    <div class="col">
                        <h6>Pleas input corrections for any invalid data.</h6>
                    </div>
                </div>
                <ChangeRequestData User="CurrentUser" Model="Model" />
                    <div class="row">
                    <div class="col">
                        <div class="d-grid gap-2">
                            <button class="btn btn-success" @onclick="OnSubmit">Submit Change Request</button>
                        </div>
                    </div>
                </div>
                <br class="p-3" />
            </EditForm>
        </div>
        }
        else
        {
            <em>Loading...</em>
        }
    </Authorized>
    <NotAuthorized>
        <NotAuthorizedMessage />
    </NotAuthorized>
</DynamicAuthorizeView>