@inherits PopupMenuBase

<div class="absolute inset-0">
	<div class="w-full h-full relative">
		<div class="absolute p-2 rounded-md bg-slate-400 shadow-md" style="left: @_xPos; top: @_yPos;">
			@Content
		</div>
	</div>
</div>