@inherits RosterModel

<thead class="table-dark text-light text-center">
    <tr>
        <th colspan="4">
            @FlightNumber.AsOrdinal() Flight LAAT
        </th>
    </tr>
</thead>
<tbody>
    <tr role="@(Flight.Commander is null ? "" : "button")" @onclick="(x) => TrooperNav(Flight.Commander?.BirthNumber)">
        <th scope="row" colspan="2" class="text-end">
            Flight Commander
        </th>
        <td class="text-start" colspan="2">
            @if (Flight.Commander is null)
            {
                <span>TBD</span>
            }
            else
            {
                @Flight.Commander.DisplayRankName()                
            }
        </td>
    </tr>
</tbody>

@for(int i = 0; i < Flight.Sections.Length; i++)
{
    <RazorFlightSectionDisplay Section="Flight.Sections[i]" FlightNumber="FlightNumber" SectionNumber="i + 1" />
}

@code {
    [Parameter]
    public RazorFlightData Flight { get; set; }
    [Parameter]
    public int FlightNumber { get; set; }
}
