<thead class="table-primary text-center">
    <tr>
        <th colspan="4">
            Deck Officer - Wardens
        </th>
    </tr>
</thead>
<tbody>
<tr>
    <th scope="row" colspan="2" class="text-end">
        Master Warden
    </th>
    <td scope="row" colspan="2">
        @(Warden.Master?.WarrantRank is null ? Warden.Master?.WardenRank?.AsFull() + " " ?? "" : Warden.Master?.WarrantRank?.AsFull() + " " ?? "")@(Warden.Master?.NickName ?? "TBD")
    </td>
</tr>
<tr>
    <th scope="row" colspan="2" class="text-end">
        Chief Warden
    </th>
    <td scope="row" colspan="2">
        @(Warden.Chief?.WarrantRank is null ? Warden.Chief?.WardenRank?.AsFull() + " " ?? "" : Warden.Chief?.WarrantRank?.AsFull() + " " ?? "")@(Warden.Chief?.NickName ?? "TBD")
    </td>
</tr>

@for(int i = 0; i < Warden.Wardens.Length; i++)
{
    <tr>
        <th scope="row" colspan="2" class="text-end">
            Warden
        </th>
        <td scope="row" colspan="2">
            @(Warden.Wardens[i]?.WarrantRank is null ? Warden.Wardens[i]?.WardenRank?.AsFull() + " " ?? "" : Warden.Wardens[i]?.WarrantRank?.AsFull() + " " ?? "")@(Warden.Wardens[i]?.NickName ?? "TBD")
        </td>
    </tr>
}

</tbody>

@code {
    [Parameter]
    public WardenData Warden {get;set;}
}
