@inherits RosterModel

<thead class="table-dark text-light text-center">
    <tr>
        <th colspan="4">
            Warden Sub-Detachment
        </th>
    </tr>
</thead>
<tbody>

<tr role="@(Warden.Master is null ? "" : "button")" @onclick="(x) => TrooperNav(Warden.Master?.BirthNumber)">
    <th scope="row" colspan="2" class="text-end">
        Master Warden (6)
    </th>
    <td scope="row" colspan="2">
        @if (Warden.Master is null)
        {
            <span>TBD</span>
        }
        else
        {
            @Warden.Master.DisplayRankName()                
        }
    </td>
</tr>
<tr role="@(Warden.Chief is null ? "" : "button")" @onclick="(x) => TrooperNav(Warden.Chief?.BirthNumber)">
    <th scope="row" colspan="2" class="text-end">
        Chief Warden (5)
    </th>
    <td scope="row" colspan="2">
        @if (Warden.Chief is null)
        {
            <span>TBD</span>
        }
        else
        {
            @Warden.Chief.DisplayRankName()                
        }
    </td>
</tr>
</tbody>
@for(int i = 0; i < Warden.Flights.Length; i++)
{
    <WardenFlightDisplay WardenFlight="Warden.Flights[i]" FlightNumber="i"/>
}


@code {
    [Parameter]
    public WardenData Warden {get;set;}
}
