@page "/password/forgot"
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="grid grid-cols-1 gap-2 p-4">
    <h2>Forgot your Password</h2>

    <hr />

    <form method="post" class="grid grid-cols-1 gap-2">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="input-group">
            <input asp-for="Input.UserName" class="input-control" autocomplete="birthnumber" aria-required="true" />
            <label asp-for="Input.UserName" class="input-label"></label>
            <span asp-validation-for="Input.UserName" class="text-danger"></span>
        </div>
        <button type="submit" class="button-op-success">Request Password Reset</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}