@page "/password/reset"
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}

<div class="grid grid-cols-1 gap-2 p-4">
    <p>Reset your password.</p>

    <hr />

    <form method="post" class="grid grid-cols-1 gap-2">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="Input.Code" type="hidden" />
        <div class="input-group">
            <input asp-for="Input.UserName" class="input-control" autocomplete="username" aria-required="true" />
            <label class="input-label" asp-for="Input.UserName"></label>
            <span asp-validation-for="Input.UserName" class="text-danger"></span>
        </div>
        <div class="input-group">
            <input asp-for="Input.Password" class="input-control" autocomplete="new-password" aria-required="true" />
            <label class="input-label" asp-for="Input.Password"></label>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="input-group">
            <input asp-for="Input.ConfirmPassword" class="input-control" autocomplete="new-password" aria-required="true" />
            <label class="input-label" asp-for="Input.ConfirmPassword"></label>
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        <button type="submit" class="button-op-success">Reset Password</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}